header{
    text-align: center;
}

section.baner{
    color: white;
font-size: large;
background-image: url(../img/lemon-pie\ 1.png);
background-origin: content-box;
background-repeat: no-repeat;
background-size: cover;
background-position: left;
background-attachment: fixed;
height: 343px;


}
section.margen{
    max-width: 80%;
    margin: auto;
}
body{
font-family: 'Times New Roman', Times, serif;

}
