header{
background-image: url(../img/musica.jpg);


}
body{
    font-family: 'Times New Roman', Times, serif;
}
span{
font-weight: bold;

}
h1, h2 {
    background-color: rgb(81, 91, 94);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
section.margen{
        max-width: 80%;
        margin: auto;
        
}
h3{
    color: rgb(0, 0, 0);
}