
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    @font-face {
        font-family:'Times New Roman', Times, serif;
        src: url();
    }

body main{
    text-align: center;
}

header{
    background-color:#1CD1B0 ;
    
    font-size: 15px;
    font-weight: lighter;
    padding: 8px;
    width: 100%;
    padding: 15px auto;
    
}
h1{
    background-color: #00669F;
    padding: 30px;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
   
    box-shadow: 0px 5px 5px rgb(102 99 99);
}
.menu0{
position: relative;


}
.menu{
   
    display: flex;
    justify-content: flex-end;
background-color:#001D2D;
padding: 15px;
    font-size: 30px;
    box-shadow: 0px 5px 5px rgb(102 99 99);
  


}
/* span p a:link{


    
} */

span p a:active{
background-color: grey;


}
span p a:visited{
color:#fff
    
}
.img{
border-radius: 50%;
position: relative;
right: -5px;
bottom: 70px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.batman{
    background-color: #F3F3F3;
    display: inline-block;
    width: 300px;
    text-align: center;
    height: 540px;
    position: relative;
    top: 40%;
    column-gap: 5px;
    margin: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

}
.harley{
    background-color: #F3F3F3;
    display: inline-block;
    width: 300px;
    text-align: center;
    height: 540px;
    position: relative;
    top: 40%;
    column-gap: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin: 50px;
border-radius: 15px;
}
.img2{
    border-radius: 50%;
    position: relative;
    left: 9px;
bottom: 70px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
main{
    display: flex;
    /* flex-wrap: wrap; */
justify-content: center;

}
h2{
    /* margin-top: -50px; */
    align-items: center;

}

.corazon{
position: absolute;
font-size: 25px;
top:  15px;
left: 15px ;
}

footer{
    display: flex;
 position: relative;
 /* width: 1024px; */
height: 51px;
left: 0px;
top: 800px;
   background-color: #00669F;
  align-items: center;
  padding: 30px 0px;
  font-size:120%;
  
}

button{
    position: relative;
    top: 10px;
    padding: 5px;
background-color: #00669F;;
font-size:x-large;
}

.img3{
    display: flex;
border-radius: 15px;
   width: 300px;
   height: 193px;
   
}

.fotosuperman{
    display: flex;
    border-radius: 50%;
    display: flex;
    width: 118px;
    height: 120px;
    position: relative;
right: -90px;
bottom: 70px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

/* Formulario Login */
/* ----------------------------------------------------------------------------------- */
.login{
    display: flex;
   align-content: center;
color: #333333;
font-size: 72px;

}

.tamanio{
    justify-content: center;
height: 50px;
width: 490px;
top: 600px;
font-size: 20px;

}

.submit{
  
background-color: #1CD1B0;
font-family: karla ;
border-radius:23.011px;
width: 500px;
padding: 10px;
}
.cuenta{
display: flex;



}
/* ------------------------------------------------------------------------------------------- */
/* formulario Registro */
/* ------------------------------------------------------------------------------------------- */


.submit1{
  
    background-color: #1CD1B0;
    font-family: karla ;
    border-radius:23.011px;
    width: 250px;
    padding: 10px;
    }


    .resetear{
  
        background-color: #888888;;
        font-family: karla ;
        border-radius:23.011px;
        width: 250px;
        padding: 10px;
        }

/* -------------------------------------------------------------------------------------------------- */
    /* contactenos */
/* -------------------------------------------------------------------------------------------------- */


.contacto{
font-size: 20px;

}

/* -------------------------------------------------------------------------------------------------- */
/* Boton + */
/* -------------------------------------------------------------------------------------------------- */

.fas{
position: fixed;
bottom: 540px ;
right: 68px;
font-size:70px;
align-items: right;
color: #00669F;
}


.fas:active{
color:#001D2D;

}

span p a:visited{
color:#fff

}

/* --------------------------------------------------------------------------------------------------- */
/* Formulario */
/* --------------------------------------------------------------------------------------------------- */

.fondoColor{
display: block;

background-color: #00669F;
box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
border-radius: 49.0901px;
height: 819px;
width: 1420px;


}
.añade{
font-size:50px;
color: #fff;
font-weight: bold;

}


.añade1{
    font-size:20px;
    color: #fff;
    
    
    }
.mainsection{
    display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
}
    
.section1{
display: flex;
justify-content: center;
margin: 60px;

}
.section2{
    display: flex;
    justify-content: center;
    margin: 60px;
    
    }

.box1{
    height: 66px;
    width: 374px;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    /* box-sizing: border-box; */
    border-radius: 15.3407px;
    right: -87px;
    position: relative;
}

.box2{
    height: 66px;
    width: 374px;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    /* box-sizing: border-box; */
    border-radius: 15.3407px;
    right: 156px;
    position: relative;

}

.box3{
    height: 66px;
    width: 374px;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    /* box-sizing: border-box; */
    border-radius: 15.3407px;
    right: -9px;
    position: relative;

}


.box4{

    height: 66px;
    width: 374px;
    /* border: 1.53407px solid rgba(0, 0, 0, 0.1); */
    /* box-sizing: border-box; */
    border-radius: 15.3407px;
    right: 106px;
    position: relative;

}









.tamanio3{
    position: relative;
    top: -30px;
    right: -14px;
    font-size: 17px;
    color: #fff;

}
select:required + label::before { 
    content: "*"; 
    margin-right: 5px;
    font-size: 20px;
}
.tamanio3::before{
content: "* "; 

}

input[type="text"]:invalid,input[type="date"]:invalid,input[type="email"]:invalid,input[type="password"]:invalid,
select:invalid {
    border: 2px solid red
}
input[type="text"]:valid,input[type="date"]:valid,input[type="email"]:valid,input[type="password"]:valid,
select:valid {
    border: 2px solid  rgb(21, 212, 21);
}


.tamanio4{
    position: relative;
    top: -30px;
    right: -163px;
    font-size: 17px;
    color: #fff;

}
.tamanio4::before{
    content: "* "; 

}

.tamanio5{

    position: relative;
    top: -30px;
    right: -76px;
    font-size: 17px;
color: #fff;
}
.tamanio5::before{
    content: "* "; 
}


.tamanio6{
    position: relative;
    top: -30px;
    right: -169px;
    font-size: 17px;
    color: #fff;

}
.tamanio6::before{
    content: "* "; 
}


























/* -------------- */
@media (max-width: 768px) {
    main{
        display: flex;
       flex-direction: row;
justify-content: center;

    }
   
}
@media (max-width: 480px) {
    main{
        display: flex;
        flex-wrap: wrap;
justify-content: center;
     
    }
   
}
@media (max-width: 1024px) {
    main{
        display: flex;
        flex-wrap: wrap;
justify-content: center;   
    }
  
}
@media (max-width: 1440px) {
    main{
        display: flex;
        flex-wrap: wrap;
justify-content: center;
    }
}