
    
.fondo{
background-color: #C4C4C4; 
}
h1 {
    color: #005677;
    background-color: #C4C4C4;
}
body{ 
    font-family: 'Times New Roman', Times, serif;
}

.batman{
    text-align: center;
    background-color: rgb(203, 206, 200);
}
h2{
    color: #005677;
}
footer{
background-color: #005677;
}