*{
    margin: 0;
    padding: 0;
   box-sizing: border-box; 
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

.fondoNegro{
    display: flex;

    background-color: #222222;
    font-family: roboto;
   color: rgb(255, 255, 255);

}
.menu0{
position: absolute;
right: 0%;

}



.fondoAmarillo{
    background-color: #F0A83E;
 color: rgb(255, 255, 255);
 
}
.banner{
    background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
    background-size: contain;
    height: 39.6vw;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    
}


#fas{
   color:#F0A83E ;
   display: flex;
   justify-content: center;
   font-size: 160px;
   margin: 100px,0px;
}

.comederosendescuento{
background-color: rgb(255, 255, 255);
}

body{
    
    font-family: roboto;
}
.fondoBlanco{
    color: rgb(255, 255, 255);
}
#productos{
display: flex;
flex-direction: column;
text-align: center;

}
.cafe{
    color: #3C2313;
   

}
.comedero{
    background: #F0A83E;
  
    padding: 23px 15px
     5px;
}
.amarillo{
   color: #F0A83E;
}
.fondoCafe{
    background-color:#3C2313; 
}
footer{
    background-color: #222222;
}
.letrablanca{
    color: rgb(255, 255, 255);
    background-color:#3C2313; 
}
.bloque{
display: flex;
justify-content: center;

}

.bloque1{
text-align: center;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin: 5%;
}

.bloque2{
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 5%;
}

.bloque3{
    text-align: center;
    margin: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.menu{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
align-content: center;
background-color: #F0A83E;
color: rgb(255, 255, 255);
height:60px;
font-size: 150%;
padding: 30px;
position: sticky;
 top: 0px;
 z-index: 10;



}

.img{
   height: 40px;

}
.menuPrincipal{
display: flex;
justify-content: flex-end;


}
div .fas{
display: flex;


}


















@media screen {
    
}