*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

.fondoNegro{
    display: flex;
justify-content: space-between;
align-items: center;
    background-color: #222222;
    font-family: roboto;
   color: rgb(255, 255, 255);

}
.fondoAmarillo{
    background-color: #F0A83E;
 color: rgb(255, 255, 255);
}
.banner{
    background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
    background-size: contain;
    height: 1000px;
    margin: 0px;
    padding: 030px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    
}



.comederosendescuento{
background-color: rgb(255, 255, 255);
}

body{

    font-family: roboto;
}
.fondoBlanco{
    color: rgb(255, 255, 255);
}

.cafe{
    color: #3C2313;
}
.comedero{
    background: #F0A83E;
  
    padding: 23px 15px
     5px;
}
.amarillo{
   color: #F0A83E;
}
.fondoCafe{
    background-color:#3C2313; 
}
footer{
    background-color: #222222;
}
.letrablanca{
    color: rgb(255, 255, 255);
    background-color:#3C2313; 
}
.bloque{
display: inline-block;

}
.menu{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
align-content: center;
background-color: #F0A83E;
color: rgb(255, 255, 255);
height:60px;
font-size: 150%;
padding: 30px;


}

.img{
   height: 40px;

}
.menuPrincipal{
display: flex;
justify-content: flex-end;

}

